{% extends 'base.html' %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Helper list</h4>
                        <h4><a href="{% url 'helper_list' %}">Show all Helpers </a></h4>
                    </div>
                    <form class="form-inline my-2 my-lg-0">
                        <ul class="navbar-nav header-right">
                            <li class="nav-item">
                                <div class="input-group search-area">
                                    <input type="search" name="q" class="form-control" placeholder="Search here...">
                                    <button class="input-group-text"><i class="flaticon-381-search-2"></i></button>
                                </div>
                            </li>
                        </ul>
                      </form>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-responsive-md">
                                <thead>
                                    <tr>
                                        <th><strong>first_name</strong></th>
                                        <th><strong>last_name</strong></th>
                                        <th><strong>year</strong></th>
                                        <th><strong>paycheck</strong></th>
                                        <th><strong>work_time</strong></th>
                                        <th><strong>task_id</strong></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in helper %}
                                    <tr>
                                        <td>{{ i.first_name }}</td>
                                        <td>{{ i.last_name }}</td>
                                        <td>{{ i.year }}</td>
                                        <td>{{ i.paycheck }}</td>
                                        <td>{{ i.work_time }}</td>
                                        <td>{{ i.task_id }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-success light sharp" data-bs-toggle="dropdown">
                                                    <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24"/><circle fill="#000000" cx="5" cy="12" r="2"/><circle fill="#000000" cx="12" cy="12" r="2"/><circle fill="#000000" cx="19" cy="12" r="2"/></g></svg>
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{% url 'edit_helper' i.id %}">Edit</a>
                                                    <a class="dropdown-item" href="{% url 'delete_helper' i.id%}">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}